# YAML property files
manifest.yml
cf-secrets.yml
secrets.yml
cf-secrets-staging.yml
manifest-staging.yml
manifest-staging.yml--
credentials.yml

# Mac files
.DS_Store

# Eclipse files
.project

# Temporary directory
tmp/

