argcomplete==3.7.2
asgiref==3.12.1
certifi==2026.7.22
cfenv==0.5.3
charset-normalizer==3.5.2
click==8.5.0
fastapi==0.142.2
furl==2.1.4
h11==0.16.0
idna==3.20
mypy-extensions==1.1.0
orderedmultidict==1.0.2
packaging==26.3
pathspec==1.1.1
platformdirs==4.12.3
protobuf==7.36.2
psycopg2==2.9.13
pydantic==2.13.5
pyparsing==3.3.3
regex==2026.9.29
requests==2.34.2
six==1.17.0
starlette==1.7.0
tomli==2.4.1
typing-extensions==4.16.0
urllib3==2.8.0
userpath==1.9.2
uvicorn==0.54.0
